.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-family: "poppins";
  }

  nav {
    width: 30%;
    display: flex;
    justify-content: space-between;
    list-style: none;

    li {
      font-family: "poppins";
      a {
        color: black;
      }
    }
  }
}
